/* File that assigns 2 color variables */
$txt-color: #3d3d3d;
$bg-color: #6d6d6d;

body {
  color: $txt-color;
  background-color: $bg-color;
}
p {
  color: $txt-color;
}
h2 {
  background-color: $bg-color;
}
